/tmp
.vscode
/.vs/CasaOS-Docker-AppStore-Play/FileContentIndex/8c168981-1dc4-4228-a3b6-589c4d726c93.vsidx
/.vs/CasaOS-Docker-AppStore-Play/FileContentIndex/63d65531-180e-4eb9-9dfd-f818de20d7e4.vsidx
/.vs/CasaOS-Docker-AppStore-Play/FileContentIndex/096017b7-7016-4db3-8a6a-72035708e503.vsidx
/.vs/CasaOS-Docker-AppStore-Play/FileContentIndex/d8311532-8b5f-45ae-87a8-8e88897e59c6.vsidx
*.vsidx
