/tmp
.vscode
*.vsidx
/.vs/BCTCasaOS-AppStore-Play/CopilotIndices/17.14.939.21063/SemanticSymbols.db
/.vs/BCTCasaOS-AppStore-Play/CopilotIndices/17.14.939.21063/CodeChunks.db
/.vs/BCTCasaOS-AppStore-Play/CopilotIndices/17.14.939.21063/CodeChunks.db-shm
/.vs/BCTCasaOS-AppStore-Play/CopilotIndices/17.14.939.21063/CodeChunks.db-wal
/.vs/BCTCasaOS-AppStore-Play/CopilotIndices/17.14.939.21063/SemanticSymbols.db-shm
/.vs/BCTCasaOS-AppStore-Play/CopilotIndices/17.14.939.21063/SemanticSymbols.db-wal
/.vs/BCTCasaOS-AppStore-Play/v17/.wsuo
/.vs/BCTCasaOS-AppStore-Play/v17/DocumentLayout.backup.json
/.vs/BCTCasaOS-AppStore-Play/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/BCTCasaOS-AppStore-Play/CopilotIndices/17.14.995.13737/CodeChunks.db
/.vs/BCTCasaOS-AppStore-Play/CopilotIndices/17.14.995.13737
/.vs/slnx.sqlite-journal
